body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 300px;
 
}

.header-part {
    background-image: url('../image/Banner\ Image.png');
    background-position: center;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background-repeat: no-repeat;


}

.banner {
    display: block;
    padding: 100px 250px;
    font-family: Merriweather;
}

.banner-greeting {
    color: blue;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
    font-family: Merriweather;
}

.banner-tittel {
    color: green;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 5px;
    font-family: Merriweather;
}

.offtittle {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
}

.offtittel-text {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: inter;
}
.offtitle-catagory {
    color: black;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    line-height: 58px;
}

.newyear-image {
    width: 802.9px;
    padding: 80px 320px;
    flex-shrink: 0;
    height: 500px;
}

.Party {
    background-image: url('../image/Vectorrr.png');
    height: 600px;
    width: 1320px;
    flex-shrink: 0;
}

.Party {
    display: flex;
    justify-content: space-between;
}

.nightparty-tittel {
    color: greenyellow;
    font-family: Merriweather;
    font-size: 64px;
    font-style: italic;
    letter-spacing: 7.04px;
    line-height: 88px;
    font-weight: 900;
    width: 642px;
    margin: 120px 0px 0px 120px;
}
.nightparty-paragrap {
    color: aqua;
    font-family: Inter;
    margin: 20px 0px 0px 140px;
    width: 690px;
    line-height: 30px;
    font-weight: 400;
    font-size: 19px;
    font-style: normal;
}

button.join-btn {
    color: aliceblue;
    text-transform: uppercase;
    line-height: 24px;
    background: transparent;
    font-style: normal;
    width: 120px;
    font-family: Inter;
    margin: 40px 2px 0px 150px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    border:honeydew;
}

.camingyear-image2024 {
    justify-content: center;
    height: 464.662px;
    flex-shrink: 0;
    flex-direction: column;
    padding: 70px 140px 0px 0px;
    display: flex;
    width: 319.83px;
    align-items: center;
}
/*sedioul section styles*/
.sedioul{
    width: 1140px;
    height: 400px;
    flex-shrink: 0;
   fill: rgba(255, 0, 0, 0.10) ;
   border-radius: 20px;
   margin: 120px 0px 0px 0px;
   padding: 70px 90px;
   background: rgba(255, 0, 0, 0.05);
}
.text-primary {
    color: #F00;
    text-align: center;
    
}

.allsedioul-tittel{
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    line-height: 56px;
    text-transform: capitalize;
    font-weight: 600;
    padding:20px 40px 0px 60px;
    list-style: none;
}
.join-party{
    color:#FFF ;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border:  608px 332px 609px 126px ;

}
.batton-layout{
 display: inline-flex;
 padding: 16px 32px;
 justify-content: center;
 gap: 10px;
 align-items: center; 
 border-radius: 8px;
 background: #F00; 
 border: 191px 216px; 
 padding:20px 60px 20px 60px ;
 margin: 22px 550px 22px 501px;
 border: 20px 65px 20px 65px;
}
.bestgift-content{ 
    color: #F00;
    line-height: 29px;
    font-weight: 500;
    font-family: Inter;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 16px;
}
.bestgift-tittel {
    color: #070211 ;
    font-family:Merriweather ;
    text-transform: capitalize;
    line-height: 60px;
    font-weight: 900;
    font-size: 48px;
    font-style: normal;
    margin-bottom: 22px;
}

.bestgift-pra{
    color: rgb(12, 20, 20);
    line-height: 32px;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    width: 896px;
    margin-bottom: 48px;
}

.all-gift {
    display: flex;
}
.gift-aytem {
    flex-shrink: 0;
    height: 450px;
    width: 424px;
    border-radius: 16px;
    margin: 0px 24px 24px 0px ;
}

.gift-aytem2 {
   margin: 0px 24px 24px 0px ;
   width:424px ;
   border-radius: 16px;
   flex-shrink: 0;
   height: 450px;
}
.gift-aytem3{
    margin: 0px 0px 24px 0px;
    width:424px ;
    border-radius: 16px;
    flex-shrink: 0;
    height: 450px;
}
.all-gift2 {
    display: flex;
}

.gift-aytem4{
    flex-shrink: 0;
    height: 450px;
    width: 424px;
    border-radius: 16px;
    margin: 0px 24px 0px 0px ;
}

.gift-aytem5{
    flex-shrink: 0;
    height: 450px;
    width: 424px;
    border-radius: 16px;
    margin: 0px 24px 0px 0px ;
}
.gift-aytem6{
    flex-shrink: 0;
    height: 450px;
    width: 424px;
    border-radius: 16px;
    margin: 0px 0px 0px 0px ;
}

/*main section styles */
.email-img{
    flex-shrink: 0;
    height: 150px;
    width: 150px;
    padding: 60px 585px 0px 480px;
}
.subscribe-tittle{
    color: #723ddd;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    margin:  10px 10px; 
}
.section-para{
    color: rgba(8, 2, 19, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    width: 896px;
    font-weight: 400;
    line-height: 32px;
    /* padding: 0px 120px 200px 220px; */
    margin: -9px 0px 0px 134px;
}
/*subscribe section style */
.subscribe{
    padding: 70px 90px;
    border-radius: 16px;
    background-image: url("../image/Rectangle\ 11.png");
    width: 1140px;
    height: 612px;
    flex-shrink: 0;
    margin: 120px 0px 0px 0px;
    background-repeat: no-repeat;
    /* background: #070211; */
}
.section-tittle{
    width: 1140px;
    height: 609px;
    flex-shrink: 0;
    border-radius: 16px;
}
nav {
    display: flex;
    list-style-image:image/Call.png ;
    list-style-image: ;
    justify-content: space-between;
}

nav li {
    margin-bottom: 10px;
}
nav a{
    text-decoration: none;
}
.social-links{
    display: flex;
}
